*{
  margin: 0;
  padding: 0;
}

body {
  background-image: url("teamrocket.png");
}

.main_container {
  margin: 0;
  padding: 0;

}

#banner {
  text-align: center;
  background-color: red;
  background: linear-gradient(to bottom, red 50%, gray 50%);
  font-color: rebeccapurple;
}

#first_header {
  color: indigo;
  font-family: helvetica;
}

#forGround {
  left: 150px;
  right: 100px;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  width: 950px;
  height:100vh;
  position: absolute;
  margin:0;
}

#boxLeft {
  width: 475px;
  height: 75vh;
  border-style: solid;
  border-color: red;
  padding: 10px;
  border-width: 10px;


}



#imgPlaceHolder {
  width: 300px;
  height: 200px;
  border-style: solid;
  border-color: purple;
}

h3 {

}
